spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        profile_view: profile-view-channel
        recommendation: recommendation-channel
        post_view: post-view-channel
        mentorship_requested_channel:
          name: mentorship-requested-channel
        comment_event:
          name: comments-channel
        search_appearance:
          name: search-appearance-channel
        followers_view: follower-channel

server:
  port: 8086

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

user-service:
  host: localhost
  port: 8082
