spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channels:
        profile_view_channel:
          name: profile_view_channel
        analytic_channel:
          name: analytics_channel
        user_events_channel:
          name: user_events_channel
        premium_events_channel:
          name: premium_events_channel
        project_events_channel:
          name: project_events_channel

server:
  port: 8086

logging:
  level:
    root: info

project-service:
  host: localhost
  port: 8082

analytics:
  latest_events_period_of_time: '1 day'